In [1]:
import pandas as pd

pd.set_option("mode.copy_on_write", True)

df_e_price = pd.read_csv("../src/cleaned_e_price.csv")
df_emission = pd.read_csv("../src/cleaned_emission_annual.csv")
df_fuel_ratio = pd.read_csv("../src/cleaned_fuel_ratio.csv")

In [2]:
merged = pd.merge(df_e_price, df_emission, on=["Year", "State"], how="inner")
merged = pd.merge(merged, df_fuel_ratio, on=["Year", "State"], how="inner")

In [3]:
merged.head()

  State  Year  e_price  CO2_annual  Fuels_ratio
0    CT  2001     9.62    45649924          0.0
1    ME  2001    10.55    35440016          0.0
2    MA  2001    11.55    99152464          0.0
3    NH  2001    10.95    18182220          0.0
4    RI  2001    11.45    13784508          0.0

In [4]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1071 entries, 0 to 1070
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   State        1071 non-null   object
 1   Year         1071 non-null   int64
 2   e_price      1071 non-null   float64
 3   CO2_annual   1071 non-null   int64
 4   Fuels_ratio  1071 non-null   float64
dtypes: float64(2), int64(2), object(1)
memory usage: 50.2+ KB

In [5]:
merged.describe()

             Year      e_price    CO2_annual  Fuels_ratio
count  1071.00000  1071.000000  1.071000e+03  1071.000000
mean   2011.00000     9.811223  1.714041e+08     0.374959
std       6.05813     3.781943  1.713947e+08     0.407917
min    2001.00000     4.240000  2.633200e+04     0.000000
25%    2006.00000     7.465000  4.884882e+07     0.000000
50%    2011.00000     9.020000  1.318715e+08     0.109052
75%    2016.00000    10.770000  2.303515e+08     0.858901
max    2021.00000    34.040000  1.069856e+09     0.998595

In [6]:
merged["Year"].unique(), merged["State"].unique()

(array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
        2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]),
 array(['CT', 'ME', 'MA', 'NH', 'RI', 'VT', 'NJ', 'NY', 'PA', 'IL', 'IN',
        'MI', 'OH', 'WI', 'IA', 'KS', 'MN', 'MO', 'NE', 'ND', 'SD', 'DE',
        'DC', 'FL', 'GA', 'MD', 'NC', 'SC', 'VA', 'WV', 'AL', 'KY', 'MS',
        'TN', 'AR', 'LA', 'OK', 'TX', 'AZ', 'CO', 'ID', 'MT', 'NV', 'NM',
        'UT', 'WY', 'CA', 'OR', 'WA', 'AK', 'HI'], dtype=object))

In [7]:
merged.to_csv("../src/merged_data.csv", index=False)