In [1]:
import pandas as pd

pd.set_option("mode.copy_on_write", True)

df_e_price = pd.read_csv("../src/cleaned_e_price.csv")
df_emission = pd.read_csv("../src/cleaned_emission_annual.csv")
# df_fuel_ratio = pd.read_csv("../src/cleaned_fuel_ratio.csv")
df_prod_mix = pd.read_csv("../src/cleaned_prod_mix.csv")
df_climate = pd.read_csv("../src/cleaned_cdd_hdd.csv")

In [2]:
merged = pd.merge(df_e_price, df_emission, on=["Year", "State"], how="inner")
merged = pd.merge(merged, df_prod_mix, on=["Year", "State"], how="inner")
merged = pd.merge(merged, df_climate, on=["Year", "State"], how="inner")

In [3]:
# log transformation of CO2 emission
import numpy as np

merged["CO2_log"] = np.log(merged["CO2_annual"])

In [4]:
merged.head()

,State,Year,e_price,CO2_annual,Fuels_ratio,coal_ratio,natural_gas_ratio,crude_oil_ratio,renewable_ratio,state_code,cdd,hdd,Description,cdd_hdd_sum,CO2_log
0,CT,2001,9.62,45649924,0.0,0.0,0.0,0.0,0.156150,6,47.500000,472.666667,Connecticut,520.166667,17.636513
1,ME,2001,10.55,35440016,0.0,0.0,0.0,0.0,1.000000,17,22.000000,629.000000,Maine,651.000000,17.383352
2,MA,2001,11.55,99152464,0.0,0.0,0.0,0.0,0.471873,19,40.833333,496.750000,Massachusetts,537.583333,18.412169
3,NH,2001,10.95,18182220,0.0,0.0,0.0,0.0,0.249545,27,25.000000,606.083333,New Hampshire,631.083333,16.715955
4,RI,2001,11.45,13784508,0.0,0.0,0.0,0.0,1.000000,37,44.583333,464.166667,Rhode Island,508.750000,16.439056

In [5]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 960 entries, 0 to 959
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              960 non-null    object
 1   Year               960 non-null    int64
 2   e_price            960 non-null    float64
 3   CO2_annual         960 non-null    int64
 4   Fuels_ratio        960 non-null    float64
 5   coal_ratio         960 non-null    float64
 6   natural_gas_ratio  960 non-null    float64
 7   crude_oil_ratio    960 non-null    float64
 8   renewable_ratio    960 non-null    float64
 9   state_code         960 non-null    int64
 10  cdd                960 non-null    float64
 11  hdd                960 non-null    float64
 12  Description        960 non-null    object
 13  cdd_hdd_sum        960 non-null    float64
 14  CO2_log            960 non-null    float64
dtypes: float64(10), int64(3), object(2)
memory usage: 120.0+ KB

In [6]:
merged.describe()

,Year,e_price,CO2_annual,Fuels_ratio,coal_ratio,natural_gas_ratio,crude_oil_ratio,renewable_ratio,state_code,cdd,hdd,cdd_hdd_sum,CO2_log
count,960.000000,960.000000,9.600000e+02,960.000000,960.000000,960.000000,960.000000,960.000000,960.00000,960.000000,960.000000,960.000000,960.000000
mean,2010.500000,9.268604,1.833164e+08,0.379871,0.164985,0.146650,0.068236,0.356701,24.50000,94.841493,430.178819,525.020313,18.429543
std,5.769287,2.875920,1.734467e+08,0.404020,0.266048,0.235879,0.124475,0.343567,13.86062,69.012197,173.464706,118.822882,1.558522
min,2001.000000,4.240000,2.633200e+04,0.000000,0.000000,0.000000,0.000000,0.001405,1.00000,10.000000,37.583333,272.333333,10.178540
25%,2005.750000,7.205000,6.967302e+07,0.000000,0.000000,0.000000,0.000000,0.069442,12.75000,44.208333,295.395833,434.625000,18.059239
50%,2010.500000,8.810000,1.434365e+08,0.148316,0.000000,0.005417,0.004850,0.217806,24.50000,75.708333,441.541667,507.875000,18.781402
75%,2015.250000,10.330000,2.402109e+08,0.853962,0.267125,0.194944,0.065071,0.528111,36.25000,129.437500,561.083333,612.937500,19.297028
max,2020.000000,19.130000,1.069856e+09,0.998595,0.954834,0.854710,0.703365,1.000000,48.00000,345.833333,850.083333,882.750000,20.790790

In [7]:
merged["Year"].unique(), merged["State"].unique()

(array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
        2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]),
 array(['CT', 'ME', 'MA', 'NH', 'RI', 'VT', 'NJ', 'NY', 'PA', 'IL', 'IN',
        'MI', 'OH', 'WI', 'IA', 'KS', 'MN', 'MO', 'NE', 'ND', 'SD', 'DE',
        'FL', 'GA', 'MD', 'NC', 'SC', 'VA', 'WV', 'AL', 'KY', 'MS', 'TN',
        'AR', 'LA', 'OK', 'TX', 'AZ', 'CO', 'ID', 'MT', 'NV', 'NM', 'UT',
        'WY', 'CA', 'OR', 'WA'], dtype=object))

In [8]:
# merged.to_csv("../src/merged_data.csv", index=False)

In [9]:
joined_rggi = ["CT", "DE", "ME", "MD", "MA", "NH", "NY", "RI", "VT"]

merged["treated"] = merged["State"].isin(joined_rggi)

In [10]:
# select years before and after the treatment
Pre = list(range(2001, 2009))
Post = list(range(2010, 2018))
merged["post"] = merged["Year"].isin(Post)
merged["treated:post"] = merged["treated"] * merged["post"]
merged_subset = merged[merged["Year"].isin(Post + Pre)]

# drop NJ as it initially withdrew in 2012 but rejoined in 2020.
merged_subset = merged_subset[merged_subset["State"] != "NJ"].reset_index(drop=True)

In [11]:
merged_subset

,State,Year,e_price,CO2_annual,Fuels_ratio,coal_ratio,natural_gas_ratio,crude_oil_ratio,renewable_ratio,state_code,cdd,hdd,Description,cdd_hdd_sum,CO2_log,treated,post,treated:post
0,CT,2001,9.62,45649924,0.000000,0.000000,0.000000,0.000000,0.156150,6,47.500000,472.666667,Connecticut,520.166667,17.636513,True,False,False
1,ME,2001,10.55,35440016,0.000000,0.000000,0.000000,0.000000,1.000000,17,22.000000,629.000000,Maine,651.000000,17.383352,True,False,False
2,MA,2001,11.55,99152464,0.000000,0.000000,0.000000,0.000000,0.471873,19,40.833333,496.750000,Massachusetts,537.583333,18.412169,True,False,False
3,NH,2001,10.95,18182220,0.000000,0.000000,0.000000,0.000000,0.249545,27,25.000000,606.083333,New Hampshire,631.083333,16.715955,True,False,False
4,RI,2001,11.45,13784508,0.000000,0.000000,0.000000,0.000000,1.000000,37,44.583333,464.166667,Rhode Island,508.750000,16.439056,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,UT,2017,8.60,110790548,0.941796,0.347295,0.379099,0.215402,0.058206,42,52.000000,553.416667,Utah,605.416667,18.523152,False,True,False
748,WY,2017,8.28,177090016,0.992830,0.707785,0.229429,0.055615,0.007170,48,24.333333,657.916667,Wyoming,682.250000,18.992169,False,True,False
749,CA,2017,16.06,177732004,0.483931,0.000000,0.094313,0.389618,0.442562,4,97.250000,204.083333,California,301.333333,18.995787,False,True,False
750,OR,2017,8.81,31963616,0.001395,0.000000,0.001395,0.000000,0.998605,35,29.166667,447.500000,Oregon,476.666667,17.280109,False,True,False
751,WA,2017,7.94,44030952,0.000000,0.000000,0.000000,0.000000,0.917845,45,21.166667,482.833333,Washington,504.000000,17.600403,False,True,False

In [12]:
merged_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752 entries, 0 to 751
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              752 non-null    object
 1   Year               752 non-null    int64
 2   e_price            752 non-null    float64
 3   CO2_annual         752 non-null    int64
 4   Fuels_ratio        752 non-null    float64
 5   coal_ratio         752 non-null    float64
 6   natural_gas_ratio  752 non-null    float64
 7   crude_oil_ratio    752 non-null    float64
 8   renewable_ratio    752 non-null    float64
 9   state_code         752 non-null    int64
 10  cdd                752 non-null    float64
 11  hdd                752 non-null    float64
 12  Description        752 non-null    object
 13  cdd_hdd_sum        752 non-null    float64
 14  CO2_log            752 non-null    float64
 15  treated            752 non-null    bool
 16  post               752 non-null    bool
 17  treated:post       752 non-null    bool
dtypes: bool(3), float64(10), int64(3), object(2)
memory usage: 90.5+ KB

In [13]:
import statsmodels.formula.api as smf

model = smf.ols(
    "CO2_log ~ coal_ratio + natural_gas_ratio + crude_oil_ratio + cdd + hdd + treated + post + treated:post",
    data=merged_subset,
).fit(
    cov_type="cluster",
    cov_kwds={"groups": merged_subset["State"]},
)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                CO2_log   R-squared:                       0.454
Model:                            OLS   Adj. R-squared:                  0.448
Method:                 Least Squares   F-statistic:                     13.80
Date:                Mon, 29 Apr 2024   Prob (F-statistic):           5.73e-10
Time:                        20:06:33   Log-Likelihood:                -1176.0
No. Observations:                 752   AIC:                             2370.
Df Residuals:                     743   BIC:                             2412.
Df Model:                           8
Covariance Type:              cluster
================================================================================================
                                   coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                       19.3332      0.925     20.892      0.000      17.519      21.147
treated[T.True]                 -1.2137      0.723     -1.678      0.093      -2.631       0.204
post[T.True]                    -0.0697      0.037     -1.906      0.057      -0.141       0.002
treated[T.True]:post[T.True]    -0.3624      0.088     -4.117      0.000      -0.535      -0.190
coal_ratio                       1.6344      0.464      3.526      0.000       0.726       2.543
natural_gas_ratio                0.5214      0.393      1.328      0.184      -0.248       1.291
crude_oil_ratio                  0.2151      0.803      0.268      0.789      -1.359       1.789
cdd                              0.0017      0.003      0.542      0.588      -0.004       0.008
hdd                             -0.0026      0.002     -1.529      0.126      -0.006       0.001
==============================================================================
Omnibus:                      359.205   Durbin-Watson:                   1.910
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2491.690
Skew:                          -2.044   Prob(JB):                         0.00
Kurtosis:                      10.925   Cond. No.                     4.46e+03
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The condition number is large, 4.46e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [14]:
merged_subset = merged_subset.set_index(["State", "Year"])

In [15]:
print(merged_subset.index)

MultiIndex([('CT', 2001),
            ('ME', 2001),
            ('MA', 2001),
            ('NH', 2001),
            ('RI', 2001),
            ('VT', 2001),
            ('NY', 2001),
            ('PA', 2001),
            ('IL', 2001),
            ('IN', 2001),
            ...
            ('CO', 2017),
            ('ID', 2017),
            ('MT', 2017),
            ('NV', 2017),
            ('NM', 2017),
            ('UT', 2017),
            ('WY', 2017),
            ('CA', 2017),
            ('OR', 2017),
            ('WA', 2017)],
           names=['State', 'Year'], length=752)

In [16]:
from linearmodels.panel import PanelOLS

formula = "CO2_log ~ coal_ratio + natural_gas_ratio + crude_oil_ratio + cdd + hdd + treated + post + treated:post + EntityEffects + TimeEffects"
mod = PanelOLS.from_formula(
    formula,
    data=merged_subset,
    drop_absorbed=True,
).fit(cov_type="clustered", cluster_entity=True)

mod.summary

/var/folders/xr/lfv3bx8j69x4n2wzsd6ryvp40000gn/T/ipykernel_26161/2772962042.py:8: AbsorbingEffectWarning:
Variables have been fully absorbed and have removed from the regression:

treated, post

  ).fit(cov_type="clustered", cluster_entity=True)

<class 'linearmodels.compat.statsmodels.Summary'>
"""
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                CO2_log   R-squared:                        0.1736
Estimator:                   PanelOLS   R-squared (Between):              0.0383
No. Observations:                 752   R-squared (Within):               0.2529
Date:                Mon, Apr 29 2024   R-squared (Overall):              0.0384
Time:                        20:06:33   Log-likelihood                    435.43
Cov. Estimator:             Clustered
                                        F-statistic:                      23.941
Entities:                          47   P-value                           0.0000
Avg Obs:                       16.000   Distribution:                   F(6,684)
Min Obs:                       16.000
Max Obs:                       16.000   F-statistic (robust):             6.7941
                                        P-value                           0.0000
Time periods:                      16   Distribution:                   F(6,684)
Avg Obs:                       47.000
Min Obs:                       47.000
Max Obs:                       47.000

                                 Parameter Estimates
=====================================================================================
                   Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------
coal_ratio            0.8117     0.2959     2.7435     0.0062      0.2308      1.3927
natural_gas_ratio     0.5693     0.2196     2.5929     0.0097      0.1382      1.0005
crude_oil_ratio       0.9490     0.3118     3.0437     0.0024      0.3368      1.5611
cdd                   0.0017     0.0004     4.0158     0.0001      0.0009      0.0026
hdd                  -0.0002     0.0003    -0.6520     0.5146     -0.0008      0.0004
treated:post         -0.2766     0.0880    -3.1416     0.0018     -0.4494     -0.1037
=====================================================================================

F-test for Poolability: 864.66
P-value: 0.0000
Distribution: F(61,684)

Included effects: Entity, Time
"""