In [68]:
import pandas as pd
import glob
import re

> Load all the data into one dataframe

In [64]:
# Using glob  & regex to get all the files appropriate files in the directory
egrid_files = glob.glob("../data/rmr_62/egrid_data/e[Gg][Rr][Ii][Dd]*.xls*")

In [72]:
# Reading the egrid files into a pandas dataframe, only keep the tab we need
egrid_df = pd.DataFrame()
for file in egrid_files:
    match = re.search(r"\d{4}", file)
    year = match.group()

    df = pd.read_excel(file, sheet_name=f"PLNT{year[-2]}{year[-1]}", skiprows=1)
    df["Year"] = year

    egrid_df = pd.concat([egrid_df, df])

del df  # Clean up

## Column name descriptions

| Column    | Description |
|-----------|-------------|
| PNAME     | Plan Name |
| PLPRMFL   | Primary Fuel |
| CAPFAC    | Capacity Facoty |
| NAMEPCAP  | Nameplate Capacity |
| PLNGENAN  | Plant annual net genration (MWh) |
| PLNOXAN   | Plant annual Nox Emission (tonnes) |
| PLSO2AN   | Plant annual So2 Emission (tonnes) |
| PLCO2AN   | Plant annual Co2 Emission (tonnes) |
| Year      | Data for Year |
| TotEm     | Total aanual plant emissions (tonnes) |

In [78]:
egrid_df = egrid_df[
    [
        "PNAME",
        "PLPRMFL",
        "CAPFAC",
        "NAMEPCAP",
        "PLNGENAN",
        "PLNOXAN",
        "PLSO2AN",
        "PLCO2AN",
        "Year",
    ]
]

c = "TotEm"
egrid_df[c] = egrid_df["PLNOXAN"] + egrid_df["PLSO2AN"] + egrid_df["PLCO2AN"]

egrid_df

,PNAME,PLPRMFL,CAPFAC,NAMEPCAP,PLNGENAN,PLNOXAN,PLSO2AN,PLCO2AN,Year,TotEm
0,Agrium Kenai Nitrogen Operations,NG,0.000000,21.6,0.00,0.000000,0.000000,0.000000e+00,2012,0.000000e+00
1,Alakanuk,JF,0.178346,1.3,2031.00,21.044206,0.091765,1.374568e+03,2012,1.395704e+03
2,Anchorage 1,NG,0.060609,102.9,54633.00,95.333378,1.242881,4.038460e+04,2012,4.048117e+04
3,Angoon,DFO,0.134323,1.5,1765.00,18.288047,1.311343,1.223040e+03,2012,1.242640e+03
4,Aniak,DFO,0.286322,1.1,2759.00,33.331117,2.519999,2.229068e+03,2012,2.264919e+03
...,...,...,...,...,...,...,...,...,...,...
4993,Spirit Mountain,WAT,0.335000,4.5,13204.00,0.000000,0.000000,0.000000e+00,2005,0.000000e+00
4994,Strawberry Creek,WAT,0.742100,1.5,9750.95,0.000000,0.000000,0.000000e+00,2005,0.000000e+00
4995,Wygen 1,SUB,0.919900,88.0,709116.89,561.491000,538.381000,1.040668e+06,2005,1.041768e+06
4996,Wyodak,SUB,0.843700,362.0,2675359.00,4946.278000,7732.067000,3.370621e+06,2005,3.383299e+06
4997,Wyoming Wind Energy Center,WND,0.235600,144.0,297224.00,0.000000,0.000000,0.000000e+00,2005,0.000000e+00

In [60]:
emissions_df = pd.read_csv("../data/rmr_62/emissions_data/emissions_epa.csv")

In [61]:
emissions_df

    Year Carbon dioxide  Methane  Nitrous oxide  HFCs, PFCs, SF6, and NF3
0   1990       5,120.96  868.661        406.281                    91.432
1   1991       5,062.96  874.355        397.595                    83.500
2   1992       5,174.23  874.450        398.820                    87.383
3   1993       5,272.85  863.427        415.889                    87.358
4   1994       5,364.28  871.454        418.494                    90.940
5   1995       5,425.26  865.942        422.923                   107.809
6   1996       5,612.98  859.731        432.744                   118.072
7   1997       5,688.14  845.140        421.073                   124.851
8   1998       5,733.28  830.142        422.535                   138.727
9   1999       5,803.92  812.532        416.449                   136.987
10  2000       6,010.14  809.526        411.168                   138.333
11  2001       5,907.74  801.083        416.832                   127.867
12  2002       5,946.31  794.450        417.062                   135.457
13  2003       6,010.15  794.487        419.265                   128.806
14  2004       6,112.66  790.813        425.174                   135.724
15  2005       6,132.18  791.054        415.786                   138.334
16  2006       6,052.69  798.539        414.886                   141.811
17  2007       6,130.12  803.478        425.487                   152.360
18  2008       5,915.12  814.670        410.195                   154.558
19  2009       5,480.73  803.348        405.723                   150.944
20  2010       5,679.72  808.184        411.267                   159.032
21  2011       5,546.12  783.605        412.263                   165.219
22  2012       5,344.09  771.384        392.322                   162.741
23  2013       5,480.16  774.800        423.665                   163.039
24  2014       5,528.68  772.050        430.181                   167.614
25  2015       5,376.47  771.326        419.284                   170.276
26  2016       5,252.93  745.433        409.509                   170.558
27  2017       5,212.16  762.658        414.687                   172.318
28  2018       5,377.80  774.040        430.203                   172.791
29  2019       5,262.15  767.779        410.293                   177.700
30  2020       4,714.63  742.249        388.903                   180.194
31  2021       5,032.21  727.445        393.279                   187.292